---
import "../styles/Global.scss";

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Footer from '../components/Footer.astro';

let title = 'Community Of Technology';
let description = 'A small group of experts that have a proven track record of creating online presences and improving existing ones in a multi-faceted way.';
let permalink = 'https://steelwood-agency.netlify.app/';
---
  
<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>

  <body>
    <Header />
    <Hero />
    <div class="homepage-block lazy-block">
      <div class="center-text mobile-width">
        <h1>Who We Are</h1>
        <p class="no-margin">{description}</p>
      </div>
    </div>
    <div class="homepage-block">
      <div class="two-column desktop-width">
        <div>
          <img src="programming.jpg" alt="Services Image" width="500" height="500" />
        </div>
        <div>
          <h2>What We Do</h2>
          <p>We provide a wide range of services that include, but certainly are not limited to:</p>
          <ul>
            <li>Custom Site Builds</li>
            <li>Existing Site Feature Development</li>
            <li>Existing Site Maintenace</li>
            <li>Custom App Development</li>
            <li>Analytics</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="homepage-block lazy-block">
      <div class="center-text desktop-width">
        <h1>How We Do It</h1>
        <p>Our multi-faceted approach includes four specific areas of focus:</p>
        <ol class="no-margin left-text">
          <li>Performance</li>
          <li>User Experience</li>
          <li>Continued Engagement</li>
          <li>Tracking & Analytics</li>
        </ol>
      </div>
    </div>
    <div class="homepage-block lazy-block">
      <div class="two-column tablet-width">
        <div>
          <h2>Our Products</h2>
          <p>Currently we have a Shopify app, Tiered Up, which provides a wide range of tiered customer goal configurations for Shopify Stores.</p>
          <a href="#" target="_blank">Check it out!</a>
        </div>
        <div>
          <img src="tiered-up.png" alt="Tiered Up" width="1062" height="708" />
        </div>
      </div>
    </div>
    <div class="homepage-block lazy-block">
      <div class="center-text mobile-width">
        <h2>Work With Us</h2>
        <p>Since we are a small group, we take clients on very selectively. If you think we'd be a good fit for your business, please reach out!</p>
        <a href="mailto:steelwoodagency@gmail.com" target="_blank">Contact Us</a>
      </div>
    </div>
    <Footer />
  </body>
</html>

<style lang="scss">
@import '../styles/_variables.scss';

.homepage-block {
  padding: 2em 1.25em;

  @media(min-width: $tablet) {
    padding: 6em 1.25em;
  }

  &:nth-of-type(2n+1) {
    background: $primary-color;
    
    * {
      color: $secondary-color;
    }
  }

  ul, ol {
    display: block;
    margin: 0 auto;
  }

  ol {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 2.5em;
    padding: 1.25em;
    margin: 0;
    list-style-type: none;
    counter-reset: li;
    list-style: none;

    @media(min-width: $mobile) {
      align-items: flex-start;
      flex-flow: row;
    }

    li {
      &:before {
        content: counter(li);
        counter-increment: li;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $secondary-color;      
        margin: 0 auto 0.75em;
        text-align: center;
        background: $primary-color;
        width: 32px; 
        height: 32px;
        border-radius: 50%;
        clip-path: $white;
      }
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}
</style>
