<div class="hero lazy-block">
  <img alt="Steelwood Agency" src="/social-sharing-image.png" width="500" height="500" />
</div>

<style lang="scss">
@import '../styles/_variables.scss';

.hero {
  background: $primary-color;
  
  img {
    display: block;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
  }
}
</style>