<div class="hero">
  <img alt="Steelwood Agency" src="/social-sharing-image.png" />
</div>

<style lang="scss">
@import '../styles/_variables.scss';

.hero {
  background: $blue;
  
  img {
    display: block;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
  }
}
</style>